

/* start header */
.header .carousel-inner{
    background-image: url(./images/hero-bg.webp);
    background-size: cover;
    padding: 60px 0;

}


.header h1{
    font-size: 100px;
    width: 100%;

}

.header .offer{

    position: absolute;
    top: -125px;
    left: -200px;
}

.header .chilli1{
    position: absolute;

    top: 0;
    left: 0;
}
   
.header .chilli2{
    position: absolute;
    top: 0;
    right: 0;
}

.header .carousel-indicators button{
    
    width: 12px;
    height: 12px;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}

/* end header */



/*  start popular-food */


.popular-food{
    background-color: #F4F1EA;
    position: relative;
}

.popular-food .container h2{
    font-size: 50px;
}

.popular-food > img{
    position: absolute;
    top: 100px;
    left: 0;
}

.popular-food .food-card{
    background-image: url("./../shopGrid/images/catagory-card-shape.webp");
    background-size: cover;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food .food-card .food-card-image{
    height:195px;
}


.popular-food .food-card .text{
   position: relative;
}

.popular-food .burger-food{
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    z-index: 1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food .food-card:hover .burger-food{
    opacity: 1;
}


.popular-food .food-card .text::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 50px;
    height: 2px;
    background-color: #d12525;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    transition:.4s ;
    -webkit-transition:.4s ;
    -moz-transition:.4s ;
    -ms-transition:.4s ;
    -o-transition:.4s ;
}

.popular-food .food-card:hover .text::before{

    background-color: white ;

}


.popular-food .leaf-one,
.popular-food .leaf-two{
    position: absolute;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food  .leaf-one{
    top: -20px;
    right: 100px;
}

.popular-food .leaf-two{
    top: 100px;
    left: 100px;
}


.popular-food .food-card:hover .leaf-one{
    top: -20px;
    right: 10px;
    opacity: 1;
}

.popular-food .food-card:hover .leaf-two{
    top: 100px;
    left: -20px;
    opacity: 1;
}


.popular-food .food-card .the-best{
    position: relative;
}

.popular-food .food-card span{
    position: absolute;
    top: 20px;
    left: 20px;
}



.popular-food .food-card .the-best .best{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
}


.popular-food .food-card:hover .the-best .best{
    opacity: 1;
}

.popular-food .food-card:hover{

    background-position:0 -50px;
     background-color: #f9b637 !important;
    /* stop here */

}

.popular-food .food-card h4,
.popular-food .food-card  p{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food .food-card:hover h4,
.popular-food .food-card:hover  p{
    opacity: 0;
}


/* end popular-food */



/* start offers */

  .offers{
    background-color:#F4F1EA;
     position: relative;
  }

  .offers > img{
    position: absolute;
    top: -50px;
    left:70px;
  }

  .offers > img:nth-child(2){
    position: absolute;
    left: 0;
    top: 80px;

  }

  .offers .offer-content-burger{
    background-image: url(./../home/images/offer-bg.webp);
    background-size: cover;
    background-position: 0px;
    padding: 85px 0 !important;
  }

   .offers .offer-content-burger .image-holder img{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}


    .offers .offer-content-burger:hover .image-holder img{
        transform:scale(1.3) ;
        -webkit-transform:scale(1.3) ;
        -moz-transform:scale(1.3) ;
        -ms-transform:scale(1.3) ;
        -o-transform:scale(1.3) ;
}

.offers .offer-content-burger .burger-text{
     position: absolute;
     top: 20px;
     left: 40%;
     transform: translate(-40%,-40%);
     -webkit-transform: translate(-40%,-40%);
     -moz-transform: translate(-40%,-40%);
     -ms-transform: translate(-40%,-40%);
     -o-transform: translate(-40%,-40%);
     animation:skey 10s infinite forwards;
     -webkit-animation:skey 10s infinite alternate;
}

@keyframes skey {

    0% {
            transform: rotate(15deg);
        }
    
        50% {
            transform: rotate(-15deg);
        }
    
        100% {
            transform: rotate(15deg);
        }
}


.offers .offer-content-burger .offer-50{
    position: absolute;
    bottom: -15px;
    left: 20px;
    animation:scaling 10s infinite forwards;
    -webkit-animation:scaling 10s infinite forwards;
}


@keyframes scaling {

      0%,100%{
        transform: scale(.6);
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
}

    50%{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}


    
}


 .offers .offer-content-pizza{

    background-image: url(./../home/images/pizza-bg.webp);
    background-size: cover;
 }

   .offers .offer-content-pizza .image-holder img{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

  .offers .offer-content-pizza:hover .image-holder img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* end offers */

/* start drill offer */

.drille-offer{
    background-image: url(./images/main-bg.jpg);
    
}

.drille-offer .text{
    font-size: 40px;
}

.drille-offer .text h4{
    font-size: 50px;
}

.drille-offer .patato{
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: -1;
}

.drille-offer .tomato{
    position: absolute;
    bottom: 0;
    right: 0;

}

.drille-offer .offer-drille{
    position: absolute;
    left: 0;
    top: 20%;
    animation: up-down 3s forwards infinite;
    -webkit-animation: up-down 5s alternate infinite;
}

.drille-offer .spicy{
    position: absolute;
    left: 80%;
    top: 0;
    animation: rotat 10s forwards infinite;
    -webkit-animation: rotat 10s alternate infinite;
}

.drille-offer .pizza{
      position: absolute;
      left: 40%;
      top: 60%;
      transform: translate(-40%,-60%);
      animation:skey 10s infinite forwards;
      -webkit-animation:skey 10s infinite alternate;
      -webkit-transform: translate(-40%,-60%);
      -moz-transform: translate(-40%,-60%);
      -ms-transform: translate(-40%,-60%);
      -o-transform: translate(-40%,-60%);
}

@keyframes  rotat {

      0%{
      transform: rotate(1turn);
      -webkit-transform: rotate(1turn);
      -moz-transform: rotate(1turn);
      -ms-transform: rotate(1turn);
      -o-transform: rotate(1turn);
}

}


@keyframes  up-down {

      0%{
       top: 0;
}
  50%{
    top: 20px;
  }

    100%{
       top: 0px;
}
}


/* end drill offer */


/* start main-food-menu */

.main-food-menu .text-title p{

    font-size: 20px;
    font-weight: bold;


}

.main-food-menu .text-title h2{
    font-size: 50px;
    
}

/* end  main-food-menu */


/* start trending-food */

.trending-food .box-offer div{
    
    background-color: #F4F1EA;
}

.trending-food .left-back{
    background-image: url(./images/bg.jpg);
    background-size: cover;
    padding: 20px;
}

.trending-food .drinks{
    position: absolute;
    left: 0;
    bottom: 0;

}

.trending-food .right-back{
    background-image: url(./images/comboo-bg.jpg);
    background-size: cover;

}

.trending-food .combo-pizza{
    position: absolute;
    top: 20px;
    left: 0;
    animation:skey 10s infinite forwards;
      -webkit-animation:skey 10s infinite alternate;
}

.trending-food .offer-trending-photo{
    position: absolute;
    top: 20px;
    right: 80px;
     animation:scaling 10s infinite forwards;
    -webkit-animation:scaling 10s infinite forwards;


}


/* end trending-food */





/* start info trending */

.trending-info-back{
    background-image: url(./images/food-shape-2.png);
     background-color: #212121


}

/* end info trending */

/* start about-our-food */

.about-our-food .burger-text-about-food{
    position: absolute;
    top: 0;
    left: 0;
     animation:skey 10s infinite forwards;
      -webkit-animation:skey 10s infinite alternate;

}

.about-our-food .since-time{
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    padding: 20px 30px;
    background-color: #f9b637;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

.about-our-food .price-burger{
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-size: 70px;
    font-weight: bold;
}


/* start holder-back-left  */

 .today-special .holder-back-left{
    
    background-image: url(./images/burger-bg.png);
    background-size: cover;
    background-position: center;

 }

  .today-special .holder-back-left:hover .image-holder img{
     transform: scale(1.2);
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -ms-transform: scale(1.2);
     -o-transform: scale(1.2);
}

  .today-special .holder-back-left .image-holder img{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

 .today-special .pizza-today{
    position: absolute;
    top: 10px;
    right: 100px;
    
 }

 .today-special .burger-today{
      position: absolute;
      top: 30%;
      left: 40%;
      transform: translate(-50%,-50%);
      animation:skey 10s infinite forwards;
      -webkit-animation:skey 10s infinite forwards;
      width: 100px;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
}


.today-special .holder-back-right{
    background-image: url(./images/pepsi-bg.png);
     background-size: cover;
    background-position: center;    
}


.today-special .holder-back-right .image-holder img{
   width:300px;
   transition: .4s;
   -webkit-transition: .4s;
   -moz-transition: .4s;
   -ms-transition: .4s;
   -o-transition: .4s;
}

.today-special .holder-back-right:hover .image-holder img{
  transform:  translateX(-40px) scale(1.4);
  -webkit-transform:  translateX(-40px) scale(1.4);
  -moz-transform:  translateX(-40px) scale(1.4);
  -ms-transform:  translateX(-40px) scale(1.4);
  -o-transform:  translateX(-40px) scale(1.4);
}

/* end holder-back-left  */


/*end about-our-food */
  

@media screen and (max-width:576px) {

    .header h1{
        font-size: 50px;
    }

    .offers .offer-content-burger{
        padding: 30px 0 !important;
    }
    
}

/* end header */