

/* start header */
.header .carousel-inner{
    background-image: url(./images/hero-bg.webp);
    background-size: cover;
    padding: 48px 0;

}


.header h1{
    font-size: 100px;
    width: 100%;

}

.header .offer{

    position: absolute;
    top: -125px;
    left: -200px;
}

.header .chilli1{
    position: absolute;

    top: 0;
    left: 0;
}
   
.header .chilli2{
    position: absolute;
    top: 0;
    right: 0;
}

.header .carousel-indicators button{
    
    width: 12px;
    height: 12px;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}

/* end header */



/*  start popular-food */


.popular-food{
    background-color: #F4F1EA;
    position: relative;
}

.popular-food .container h2{
    font-size: 50px;
}

.popular-food > img{
    position: absolute;
    top: 100px;
    left: 0;
}

.popular-food .food-card{
    background-image: url("./../shopGrid/images/catagory-card-shape.webp");
    background-size: cover;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food .food-card .food-card-image{
    height:195px;
}


.popular-food .food-card .text{
   position: relative;
}

.popular-food .burger-food{
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    z-index: 1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food .food-card:hover .burger-food{
    opacity: 1;
}


.popular-food .food-card .text::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 50px;
    height: 2px;
    background-color: #d12525;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    transition:.4s ;
    -webkit-transition:.4s ;
    -moz-transition:.4s ;
    -ms-transition:.4s ;
    -o-transition:.4s ;
}

.popular-food .food-card:hover .text::before{

    background-color: white ;

}


.popular-food .leaf-one,
.popular-food .leaf-two{
    position: absolute;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food  .leaf-one{
    top: -20px;
    right: 100px;
}

.popular-food .leaf-two{
    top: 100px;
    left: 100px;
}


.popular-food .food-card:hover .leaf-one{
    top: -20px;
    right: 10px;
    opacity: 1;
}

.popular-food .food-card:hover .leaf-two{
    top: 100px;
    left: -20px;
    opacity: 1;
}


.popular-food .food-card .the-best{
    position: relative;
}

.popular-food .food-card span{
    position: absolute;
    top: 20px;
    left: 20px;
}



.popular-food .food-card .the-best .best{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
}


.popular-food .food-card:hover .the-best .best{
    opacity: 1;
}

.popular-food .food-card:hover{

    background-position:0 -50px;
     background-color: #f9b637 !important;
    /* stop here */

}

.popular-food .food-card h4,
.popular-food .food-card  p{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.popular-food .food-card:hover h4,
.popular-food .food-card:hover  p{
    opacity: 0;
}


/* end popular-food */



/* start offers */

  .offers .offer-content-burger{
    background-image: url(./../home/images/offer-bg.webp);
    background-size: cover;
    background-position: 0 -90px;
  }

   .offers .offer-content-burger .image-holder img{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}


    .offers .offer-content-burger:hover .image-holder img{
        transform:scale(1.3) ;
        -webkit-transform:scale(1.3) ;
        -moz-transform:scale(1.3) ;
        -ms-transform:scale(1.3) ;
        -o-transform:scale(1.3) ;
}

.offers .offer-content-burger .burger-text{
     position: absolute;
     top: 20px;
     left: 40%;
     transform: translate(-40%,-40%);
     -webkit-transform: translate(-40%,-40%);
     -moz-transform: translate(-40%,-40%);
     -ms-transform: translate(-40%,-40%);
     -o-transform: translate(-40%,-40%);
     animation:skey 10s infinite forwards;
     -webkit-animation:skey 10s infinite alternate;
}

@keyframes skey {

    0% {
            transform: rotate(15deg);
        }
    
        50% {
            transform: rotate(-15deg);
        }
    
        100% {
            transform: rotate(15deg);
        }
}


.offers .offer-content-burger .offer-50{
    position: absolute;
    bottom: -15px;
    left: 20px;
    animation:scaling 10s infinite forwards;
    -webkit-animation:scaling 10s infinite forwards;
}


@keyframes scaling {

      0%,100%{
        transform: scale(.6);
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
}

    50%{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}


    
}

/* end offers */



  

@media screen and (max-width:576px) {

    .header h1{
        font-size: 50px;
    }
    
}

/* end header */