body{
     font-family: "Barlow Condensed", sans-serif;
}
.shop-Grid-header-bg{
    background-image: url('./images/breadcrumb\ \(1\).webp');
    background-size: cover;
    background-position: center;
    
}
.p-80{
    padding: 80px;
}
.fs-70{
    font-size: 70px;
   
}
.font-barlow{
 font-family: "Barlow Condensed", sans-serif;
}
.main-hover-success{
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.main-hover-success:hover{
  color: #00813d !important;
}
.border-bar{
    border: 1px solid #d9d9d9;
    padding: 20px 30px;
}
.icon-hover{
    transition: transform .3s ease-in;
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
}
.cursor{
    cursor: pointer !important;
}
.price-hover:hover .icon-hover{
transform: rotate(.5turn);
    -webkit-transform: rotate(.5turn);
    -moz-transform: rotate(.5turn);
    -ms-transform: rotate(.5turn);
    -o-transform: rotate(.5turn);
    
}
.appBarr-ul-bg{
    background-color: 
#f4f1ea;

}

@media (max-width:768px){
    .fs-70{
        font-size: 40px;
    }
    .fs-md{
        font-size: 16px !important;
    }
}